[client]
default-character-set=utf8mb4

[mysqld]
# 基础配置
server-id=2
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
bind-address=0.0.0.0
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
init_connect='SET NAMES utf8mb4'
skip-name-resolve

# 从库配置
read_only=1